.atom-date-base {
  height: 73px !important;
  width: 100% !important;
  border-radius: 10px !important;
  background: #fff !important;
  border: 1px solid #d6d6d6 !important;
  box-shadow: 0 4px 4px rgba(0,0,0,.25) !important;
  padding: 0 18px !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: .2s;
}

.atom-date-base:focus {
  border-color:#7a1c1c !important;
  box-shadow:0px 0px 8px rgba(150,0,0,.35) !important;
}

.atom-date-base::placeholder {
  color:rgba(0,0,0,.4);
}

.calendar-icon {
  position:absolute;
  right:18px;
  top:50%;
  transform:translateY(-50%);
  opacity:.7;
  cursor:pointer;
  transition:.2s;
}
.calendar-icon:hover { opacity:1; }
