<app-page-header
  [title]="config.title"
  [subtitle]="config.subtitle">
</app-page-header>

<!-- Loader -->
<div *ngIf="loading" class="text-center py-10 text-gray-500">
  Loading employees...
</div>
<p class="text-sm text-gray-500">
  Employees loaded: {{ employees.length }}
</p>

<div *ngIf="!loading && employees.length === 0"
     class="text-center py-10 text-gray-500">
  No employees found.
</div>

<div *ngIf="!loading && employees.length"
     class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 mt-6">
<atom-employee-card
  *ngFor="let emp of employees; trackBy: trackByEmployeeId"
  [data]="emp"
  [config]="config.card">
</atom-employee-card>


</div>
