<!-- layout.html -->

<app-header [config]="layout.header"></app-header>

<!-- NAVBAR SHOULD GET SIDEBAR MENU -->
<app-navbar 
    [menu]="activeModule?.sidebar" 
    [active]="activeModule" 
    (select)="selectModule($event)">
</app-navbar>

<div class="flex h-[calc(100vh-180px)] bg-gray-100">

    <!-- SIDEBAR SHOULD GET MODULES -->
    <!-- <div class="w-64 min-w-64 border-r bg-white">
        <app-sidebar [modules]="visibleModules"></app-sidebar>
    </div> -->

    <main class="flex-1 p-10 overflow-auto">
        <router-outlet></router-outlet>
    </main>

</div>
