<div class="sidebar-container">

  <!-- MODULES LIST -->
  <div class="menu-wrapper">
    <ng-container *ngIf="modules && modules.length > 0; else noModules">
      <a *ngFor="let m of modules"
         [routerLink]="m.route"
         routerLinkActive="active-sidebar"
         [routerLinkActiveOptions]="{exact:true}"
         class="menu-item">
         {{m.name}}
      </a>
    </ng-container>
  </div>

  <ng-template #noModules>
    <p class="no-menu">No modules configured</p>
  </ng-template>

</div>
