<div class="select-container w-full" [ngClass]="customClass">

  <label *ngIf="label" class="block mb-1 text-sm font-medium">
    {{label}} <span *ngIf="required" class="text-red-500">*</span>
  </label>

  <div class="relative w-full">

    <button 
      type="button"
      (click)="toggleDropdown()"
      [disabled]="disabled"
      [ngClass]="{'border-red-500':hasError}"
      class="atom-select-base w-full block">

      <div class="flex items-center gap-2">
        <img *ngIf="showIcons && selectedIcon" [src]="selectedIcon" class="w-5 h-5" />
        <span [class.placeholder]="!value">{{selectedLabel}}</span>
      </div>

      <span class="text-gray-700 text-lg pointer-events-none">▾</span>
    </button>

    <!-- Dropdown panel -->
    <div *ngIf="dropdownOpen" class="dropdown-panel absolute w-full bg-white mt-2 z-[50]">

      <input *ngIf="liveSearch"
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search..."
        class="border-b w-full px-3 py-2 outline-none"/>

      <div class="max-h-52 overflow-y-auto">
        <div *ngFor="let opt of filteredOptions"
             (click)="selectOption(opt)"
             class="item flex justify-between items-center"
             [class.disabled]="opt.disabled">

          <div class="flex gap-2 items-center">
            <img *ngIf="showIcons && opt.icon && opt.iconPosition!='right'" [src]="opt.icon" class="w-5 h-5"/>
            <span>{{opt.label}}</span>
          </div>

          <img *ngIf="showIcons && opt.icon && opt.iconPosition=='right'" [src]="opt.icon" class="w-5 h-5"/>
        </div>
      </div>

    </div>
  </div>

  <p *ngIf="finalError" class="text-red-500 text-xs mt-1">{{finalError}}</p>
  <p *ngIf="helperText && !finalError" class="text-gray-500 text-xs mt-1">{{helperText}}</p>

</div>
